version: '3.8'

services:
  laravel:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_staging
    ports:
      - "4567:80"
    volumes:
      - ./storage:/var/www/storage
      - ./bootstrap/cache:/var/www/bootstrap/cache
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
